/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);
#login-page {
  background: red;
}
.x-body {
  background: url('https://upload.wikimedia.org/wikipedia/commons/2/2c/Cha_gio_re.jpg')!important;
  width: 100%;
  background-size: 100%!important;
}